<div class="container">
  <h1>Reading List</h1>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="usersShow.filterByRead()" ng-disabled="usersShow.toggle === 'read'">Read</button>
    <button type="button" class="btn btn-default" ng-click="usersShow.filterByToRead()" ng-disabled="usersShow.toggle === 'to_read'">To Read</button>
  </div>

  <div class="media" ng-repeat="book in usersShow.books">
    <div class="media-left">
      <img class="media-object" ng-src="{{ book.image }}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ book.title }}</h4>
      <h5>by {{ book.author }}</h5>
      <p>
        <strong>ISBN:</strong> {{ book.isbn }}
      </p>
      <a class="btn btn-default pull-right" ng-if="book.status === 'to_read'" ng-click="usersShow.read(book)">Add to Read List</a>
      <a class="btn btn-primary pull-right" ng-click="usersShow.delete(book)">Remove</a>
    </div>
  </div>
</div>
