<div class="jumbotron">
  <div class="container">
    <h2>Search for a book</h2>
    <form ng-submit="booksSearch.getBooks(booksSearch.name)">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="booksSearch.name" placeholder="Search Books, e.g. Javascript">
      </div>
      <input class="btn btn-primary" type="submit" value="Search">
    </form>
  </div>
</div>

<div class='container'>
  <div ng-hide="booksSearch.book">
    <div class="media" ng-repeat="book in booksSearch.books">
      <div class="media-left">
          <img class="media-object" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ book.volumeInfo.title }}</h4>
        <button ng-click="booksSearch.bookInfo(book)" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bookModal">
          More
        </button>
      </div>
    </div>
  </div>

  <div id="bookModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ booksSearch.book.volumeInfo.title }}</h4>
        </div>
        <div class="modal-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" ng-src="{{ booksSearch.book.volumeInfo.imageLinks.thumbnail }}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Description</h4>
              <p> {{ booksSearch.book.volumeInfo.description }}</p>
              <h4 class="media-heading">Authors</h4>
              <ul>
                <li ng-repeat="author in booksSearch.book.volumeInfo.authors"><h4>{{ author }}</h4></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="booksSearch.back()">Close</button>
          <button class="btn btn-success" data-dismiss="modal" ng-click="booksSearch.toRead(booksSearch.book)">Add to Reading list</button>
          <button class="btn btn-warning" data-dismiss="modal" ng-click="booksSearch.read(booksSearch.book)">Mark as Read</button>
        </div>
      </div>
    </div>
  </div>
</div>
