// Colors
$black:       #000000;
$nearlyBlack: #222222;
$white:       #FFFFFF;
$nearlyWhite: #F4f4f4; 
$blue:        #0090ff;

// Typography
$logo-font:   'Carter One', cursive;
$header-font: 'Sanchez', serif;
$body-font:   'Open Sans', sans-serif;

// Modules

// Pages
